header{
    font-family: 'Tangerine', cursive;
    font-size: 72px;
    text-align: center;
    color: whitesmoke;
    Padding: 25px;

}
body{
    background-color: rgb(53,53,53)

}
    
.watch_container{
    background-color: #1a1818;
    border-radius: 13px;
    border-color: #fdefa6;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 16px;
}
h2{
    font-family: "Unica One", cursive;
    color: whitesmoke;
}
p{
    font-family: "Dosis", cursive;
    color: whitesmoke;
}
h3{
    font-family: "Unica One", cursive;
    color: whitesmoke;
    font-size: 26px;
    text-align: center;
}

.image1{
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 262px;
    width: 540px;
    

}
.image2{
    float:left;
    margin-left: auto;
    
    
    
}
.image3{
    float:left;
    margin-left: auto;
    
}
.image4{
    float:left;
    position: relative; /* Declared position allows for location changes */
    top: -5px;
     margin-left: auto; 
    
}
.watch_container{
    clear: both;
    
}
footer{
    font-family: "Dosis", cursive;
    font-size: 30px;
    text-align: center;
    margin: 25px;
    color: whitesmoke;
}